<h1>Seja Bem-Vindo!</h1>
<strong><%= data_br(Date.today) %></strong> <br/>
<strong><%= nome_aplicacao %></strong>

<%= render "menu" %>
<p>
  Você no ambiente de <strong> <%= ambiente_rails %></strong>
</p>